@import "utils";
@import "fonts";
@import "typography";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
  padding: 0;
  margin: 0;
}

.content {
  width: 1600px;
  margin: 0 auto;
}

.delivery {
  height: 16px;
  background-color: #c5c5c5;
  color: white;
  text-align: center;

  &__text {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.45px;

    &--bold {
      font-weight: 700;
    }
  }
}

.clothing {
  position: relative;

  width: 1598px;
  height: 706px;

  background-image: url("../images/clothing.png");
  
  &__content {
    padding-top: 267px;
    padding-left: 236px;
  }

  &__title {
    position: relative;

    padding-left: 54px;
    margin-bottom: 10px;

    &::after {
      content: "";

      position: absolute;
      bottom: -3px;
      left: 0;
      right: 0;

      width: 315px;
      height: 2px;

      background-color: #000;
    }
  }

  &__text {
    font-family: "Rajdhani", sans-serif;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;

    &--bold {
      font-weight: 700;
    }
  }

  &__subtitle {
    padding-left: 27px;
    margin-bottom: 37px;

    font-family: "Courier New PSMT", sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.8px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
  }

  &__button {
    width: 118px;
    height: 36.5px;
    margin-left: 88.49px;

    font-size: 25px;
    text-transform: uppercase;

    border: 2px solid #393939;
    background-color: transparent;
  }

  &__buttons {
    position: absolute;
    bottom: 26px;
    left: 743px;

    width: 112px;
    display: flex;
    justify-content: space-between;
  }

  &__buttonItem {
    width: 18px;
    height: 18px;

    background-color: #fff;
    border-radius: 50%;
    border: none;
  }
}

.clothfashion {
  height: 46px;
  background-color: #000;
  
  text-align: center;

  &__title {
    height: 46px;
    line-height: 46px;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    color: #fff;
  }
}

.products {
  text-align: center;

  &__title {
    position: relative;

    width: 255px;
    margin: 34px auto 23px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #393939;

    &::before,
    &::after {
      content: "";
      position: absolute;

      width: 68px;
      height: 12px;
    }

    &::before {
      left: -91px;
      top: 9px;

      background-image: url("../images/seta__left.png");
    }

    &::after {
      right: -81px;
      top: 8px;
      
      background-image: url("../images/seta__right.png");
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    margin: 0 auto 64px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__image {
    margin-bottom: 4.5px;
  }

  &__cost {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.43px;
  }
}

.categories {
  display: flex;
  flex-direction: column;

  &__logo {
    width: 159px;
    height: 37px;
    margin: 0 auto;
  }

  &__list {
    width: 1237px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 38px auto 41px;
  }

  &__item {
    margin-bottom: 20px;
  }
}

.instagram {
  text-align: center;

  &__title {
    width: 247px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    color: #393939;
    position: relative;

    &::before {
      content: "";
      position: absolute;

      width: 68px;
      height: 12px;

      background-image: url("../images/seta__left.png");

      top: 10px;
      left: -94px;
    }

    &::after {
      content: "";
      position: absolute;

      width: 68px;
      height: 12px;

      background-image: url("../images/seta__right.png");

      top: 9px;
      right: -86px;
    }
  }
}
